<div class="container input-group">
  <!-- <form (ngSubmit)="onSubmit($event)" #flowForm="ngForm"> -->

      <div class="input-group input-group-md padding">
          <input id="str" [(ngModel)]="str" type="text" class="form-control" placeholder="Type something" >

      <!-- <input class="form-control" id="str" [(ngModel)]="str"/> -->

      <button (click)="sendValues()">Send</button>

    <!-- <button  class="btn btn-success" (click)="sendValues()" >Send</button> -->
  <!-- </form> -->


  <div *ngIf=" action !== undefined">
   Action :   {{action}} <br>
   Speech :   {{speech}}
  </div>

</div>